@import "variables";

.bottom {
  width: $containerWidth !important;
  padding: 0 $containerPadding;
  margin-top: 60px;

  .description {
    margin-top: 5px;
  }
}

.goodies {
  flex: 2;
  .wrapper {
    display: flex;
    flex-flow: row wrap;
  }
}

.section-title {
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  &::before, &::after {
    content: '';
    background-color: #bfbfbf;
    height: 1px;
    flex: 1;
  }
  span {
    padding: 0 20px;
  }
}

.goody {
  text-align: center;
  flex: 1 calc(33.33% - 35px);
  margin-top: 30px;
  margin-bottom: 20px;
}

.goody:not(:nth-child(3n+1)) {
  margin-left: 35px;
}

.short {
  font-weight: $semibold;
  margin-top: 5px;
}

.goals {
  flex: 1;
  margin-left: 60px;
  text-align: center;
}

.games-sold {
  margin-top: 25px;
}

.digit {
  display: inline-block;
}

.digit {
  border: 1px solid #999999;
  color: #ffffff;
  font-family: "DS-Digital", sans-serif;
  font-weight: $bold;
  font-size: 40px;
  line-height: 38px;
  padding: 0 4px;
  position: relative;
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 0 0 #f6f6f6;
  background: #a6a6a6;
  background:
    linear-gradient(180deg, rgb(166, 166, 166) 0%, rgb(191, 191, 191) 100%);
  &:before{
    content: '8';
    position: absolute;
    opacity: 0.15;
  }
}

.digit:not(:first-child) {
  margin-left: 2px
}

.dot-wrapper {
  width: 3px;
  height: 3px;
  margin-left: 4px;
  margin-right: 2px;
  display: inline-table;
  vertical-align: bottom;
}

.dot {
  width: 3px;
  height: 3px;
  background: #9b9b9b;
  box-shadow: 0 1px 0 0 #f6f6f6;
  display: table-cell;
}