@import "variables";

.bottom {
  width: $containerWidth !important;
  padding: 0 $containerPadding;
  height: 100px;
  margin-top: 60px;
}

.section-title {
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  &::before, &::after {
    content: '';
    background-color: #bfbfbf;
    height: 1px;
    flex: 1;
  }
  span {
    padding: 0 20px;
  }
}

.goodies {
  flex: 2;
}

.goals {
  flex: 1;
  margin-left: 60px;
}

.short {
  font-weight: $semibold;
}