@import "./variables";

.main {
  position: relative;
  margin-top: 36px;
  background: #e1e1e1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  }
  .games {
    text-align: center;
    padding-bottom: 14px;
    padding-top: 10px;
    background: url(../imgs/games-background.png) top center no-repeat;
  }

  .game:not(:first-child) {
    margin-left: 25px;
  }

  .logo {
    height: 140px;
    width: 100%;
  }

  .logo .display-cell {
    vertical-align: middle;
  }

  .logo img {
    display: block;
    margin: 0 auto;
  }

  .logo img.secondary {
    display: block;
  }

  .logo img.primary {
    display: none;
  }

  .active .logo img.primary {
    display: block;
  }

  .active .logo img.secondary {
    display: none;
  }

  .description {
    padding: 10px 0;

    em {
      display: inline-block;
      border-bottom: 1px dotted #808080;
      font-style: normal;
      line-height: 1;
    }
  }

  .indication {
    color: #4c4c4c;
    padding: 17px 0;
    width: 100%;
  }

  .active .indication {
    color: #608000;
  }

  .icon, .text {
    vertical-align: middle;
  }
  .icon {
    margin-right: 5px;
  }

  .description, .indication {
    border-top: 1px solid #cdcdcd;
  }

  .choose-your-price {
    background: #e5e5e5;
    border-top: 1px solid #c1c1c1;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  }

  .slider {
    display: flex;
  }

  .indicator {
    color: #4c4c4c;
    font-weight: $semibold;
    font-size: 14px;
  }

  .rails {
    flex: 1;
  }

  strong {
    font-weight: $semibold;
  }
}