/* fonts */
//100;    // Extra Light or Ultra Light
$light: 200;    // Light or Thin
//300    // Book or Demi
$regular: 400;    // Normal or Regular
//500    // Medium
$semibold: 600;    // Semibold, Demibold
$bold: 700;    // Bold
//800    // Black, Extra Bold or Heavy
//900    // Extra Black, Fat, Poster or Ultra Black

/* padding */
$containerPadding: 30px;