*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  text-align: left;
  background-color: #ffffff; }

ul, ol {
  list-style-type: none; }

/* fonts */
/* padding */
.no-padding {
  padding: 0 !important; }

.padding30 {
  padding: 0 30px; }

.display-table {
  display: inline-table; }

.display-cell {
  display: table-cell; }

.container {
  width: 950px;
  margin: 0 auto; }

.flex {
  display: flex;
  width: 100%; }

.justify-evenly {
  justify-content: space-evenly; }

.flex > .item {
  flex: 1; }

.regular {
  font-weight: 400; }

body {
  background: url(../imgs/background-pattern.png), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(212, 212, 212, 0) 100%) no-repeat; }

/* fonts */
/* padding */
.header .title {
  font-size: 32px;
  font-weight: 200;
  color: #404040;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .header .title strong {
    font-weight: 400; }

.header .details {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  color: #333333;
  font-weight: 200; }

.header .details:before, .header .detail {
  margin: 0 auto 0 0; }

.header .details:before {
  content: ''; }

.header .highlight {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  padding: 0 12px; }

.header .icon, .header .text {
  vertical-align: middle; }

.header .icon {
  margin-right: 5px; }

/* fonts */
/* padding */
.main {
  margin-top: 36px;
  background: #e1e1e1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.3); }
  .main .games {
    text-align: center;
    padding-bottom: 16px; }
  .main .game:not(:first-child) {
    margin-left: 25px; }
  .main .description {
    padding: 13px 0; }
    .main .description em {
      display: inline-block;
      border-bottom: 1px dotted #808080;
      font-style: normal;
      line-height: 1; }
  .main .indication {
    color: #4c4c4c;
    padding: 17px 0;
    width: 100%; }
  .main .indication.active {
    color: #608000; }
  .main .icon, .main .text {
    vertical-align: middle; }
  .main .icon {
    margin-right: 5px; }
  .main .description, .main .indication {
    border-top: 1px solid #cdcdcd; }
  .main .choose-your-price {
    background: #e5e5e5;
    border-top: 1px solid #c1c1c1;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5); }
  .main .slider {
    display: flex; }
  .main .indicator {
    color: #4c4c4c;
    font-weight: 600;
    font-size: 14px; }
  .main .rails {
    flex: 1; }
  .main strong {
    font-weight: 600; }

/* fonts */
/* padding */
.bottom {
  width: 950px !important;
  padding: 0 30px;
  margin-top: 60px; }
  .bottom .description {
    margin-top: 5px; }

.goodies {
  flex: 2; }
  .goodies .wrapper {
    display: flex;
    flex-flow: row wrap; }

.section-title {
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center; }
  .section-title::before, .section-title::after {
    content: '';
    background-color: #bfbfbf;
    height: 1px;
    flex: 1; }
  .section-title span {
    padding: 0 20px; }

.goody {
  text-align: center;
  flex: 1 calc(33.33% - 35px);
  margin-top: 30px;
  margin-bottom: 20px; }

.goody:not(:nth-child(3n+1)) {
  margin-left: 35px; }

.short {
  font-weight: 600;
  margin-top: 5px; }

.goals {
  flex: 1;
  overflow: hidden;
  margin-left: 60px;
  text-align: center; }

.games-sold {
  margin-top: 25px; }

.digit {
  display: inline-block; }

.digit {
  color: #ffffff;
  font-family: "DS-Digital", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  padding: 0 5px;
  position: relative;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 0 1px #999999, 0 1px 0 0 #f6f6f6;
  background: #a6a6a6;
  background: linear-gradient(180deg, #a6a6a6 0%, #bfbfbf 100%); }
  .digit:before {
    content: '8';
    position: absolute;
    opacity: 0.15; }

.digit:not(:first-child) {
  margin-left: 2px; }

.dot-wrapper {
  width: 3px;
  height: 3px;
  margin-left: 4px;
  margin-right: 2px;
  display: inline-table;
  vertical-align: bottom; }

.dot {
  width: 3px;
  height: 3px;
  background: #9b9b9b;
  box-shadow: 0 1px 0 0 #f6f6f6;
  display: table-cell; }

.in-progress {
  margin-top: 20px; }

.switcher {
  margin: 12px auto 0;
  width: 260px;
  position: relative; }
  .switcher img {
    width: 100%;
    display: block; }

.switcher::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 7px #ffffff, 1px 0 5px 0 rgba(0, 0, 0, 0.45); }

.step:not(.active) {
  display: none; }

.buttons-switcher {
  text-align: center;
  width: 260px;
  margin: 12px auto 0;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  font-size: 10px;
  line-height: 20px;
  box-shadow: 0 1px 0 0 #f6f6f6; }
  .buttons-switcher .button {
    flex: 1;
    color: #666666;
    background: #cbcbcb;
    cursor: pointer; }
    .buttons-switcher .button.active {
      box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.25);
      background: linear-gradient(180deg, #a6a6a6 0%, #d9d9d9 100%); }
  .buttons-switcher .button:not(:first-child) {
    border-left: 1px solid #a6a6a6; }
