*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  text-align: left;
  background-color: #ffffff; }

ul, ol {
  list-style-type: none; }

.no-padding {
  padding: 0 !important; }

/* fonts */
/* padding */
body {
  background: url(../imgs/background-pattern.png), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(212, 212, 212, 0) 100%) no-repeat; }

.container {
  width: 950px;
  margin: 0 auto;
  padding: 0 30px; }

.flex {
  display: flex;
  width: 100%; }

.justify-evenly {
  justify-content: space-evenly; }

.flex > .item {
  flex: 1; }

.title {
  font-size: 32px;
  font-weight: 200;
  color: #404040;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4); }

.title strong {
  font-weight: 400; }

.details {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  color: #333333;
  font-weight: 200; }
  .details li {
    padding: 0 12px; }
  .details .highlight {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    border: 1px solid #a6a6a6; }
  .details .regular {
    font-weight: 400; }

main {
  background: #e1e1e1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5), 0px 1px 3px 0px rgba(0, 0, 0, 0.3); }

.games {
  text-align: center;
  padding-bottom: 16px; }

.game:not(:first-child) {
  margin-left: 25px; }

.description {
  padding: 13px 0; }
  .description strong {
    font-weight: 600; }
  .description em {
    display: inline-block;
    border-bottom: 1px dotted #808080;
    font-style: normal;
    line-height: 1; }

.indication {
  color: #4c4c4c;
  padding: 17px 0; }
  .indication strong {
    font-weight: 600; }

.description, .indication {
  border-top: 1px solid #cdcdcd; }

.choose-your-price {
  background: #e5e5e5;
  border-top: 1px solid #c1c1c1;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5); }
